#leyenda-vis-3 .pop{
    fill: #bcbd22;
}

#leyenda-vis-3 .rock{
    fill: #d62728;
}

#leyenda-vis-3 .blues{
    fill: #1f77b4;
}

#leyenda-vis-3 .jazz{
    fill: #9467bd;
}

#leyenda-vis-3 .reggae{
    fill: #2ca02c;
}

#leyenda-vis-3 .country{
    fill: #ff7f0e;
}

#leyenda-vis-3 .hip.hop{
    fill: #17becf;
}

#vis-3 .pop{
    fill: #bcbd22;
}

#vis-3 .rock{
    fill: #d62728;
}

#vis-3 .blues{
    fill: #1f77b4;
}

#vis-3 .jazz{
    fill: #9467bd;
}

#vis-3 .reggae{
    fill: #2ca02c;
}

#vis-3 .country{
    fill: #ff7f0e;
}

#vis-3 .hip.hop{
    fill: #17becf;
}

#vis-2 .pop{
    stroke: #bcbd22;
}

#vis-2 .rock{
    stroke: #d62728;
}

#vis-2 .blues{
    stroke: #1f77b4;
}

#vis-2 .jazz{
    stroke: #9467bd;
}

#vis-2 .reggae{
    stroke: #2ca02c;
}

#vis-2 .country{
    stroke: #ff7f0e;
}

#vis-2 .hip.hop{
    stroke: #17becf;
}

#leyenda-vis-2 .pop{
    fill: #bcbd22;
}

#leyenda-vis-2 .rock{
    fill: #d62728;
}

#leyenda-vis-2 .blues{
    fill: #1f77b4;
}

#leyenda-vis-2 .jazz{
    fill: #9467bd;
}

#leyenda-vis-2 .reggae{
    fill: #2ca02c;
}

#leyenda-vis-2 .country{
    fill: #ff7f0e;
}

#leyenda-vis-2 .hip.hop{
    fill: #17becf;
}