.pop{
    fill: yellow;
}

.rock{
    fill: red;
}

.blues{
    fill: blue;
}

.jazz{
    fill: purple;
}

.reggae{
    fill: green;
}

.country{
    fill: orange;
}

.hip\ hop{
    fill: brown;
}